default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
        stages: [pre-commit]
      - id: check-yaml
        stages: [pre-commit]
        args: [--allow-multiple-documents]
      - id: check-toml
        stages: [pre-commit]
      - id: check-json
        stages: [pre-commit]
      - id: end-of-file-fixer
        stages: [pre-commit]
      - id: trailing-whitespace
        stages: [pre-commit]
      - id: check-merge-conflict
        stages: [pre-commit]
      - id: mixed-line-ending
        stages: [pre-commit]
      - id: debug-statements
        stages: [pre-commit]
      - id: pretty-format-json
        stages: [pre-commit]
        args: [--indent, "2", --autofix, --no-sort-keys, --no-ensure-ascii]
  - repo: https://github.com/pysentry/pysentry-pre-commit
    rev: v0.3.12
    hooks:
      - id: pysentry
        stages: [pre-commit]
        args: ["--sources", "pypa,pypi,osv", "--fail-on", "low", "."]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
        stages: [pre-commit]
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--strict]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff-check
        stages: [pre-commit]
        args: [--fix]
      - id: ruff-format
        stages: [pre-commit]
  - repo: https://github.com/PyCQA/bandit
    rev: "1.8.6"
    hooks:
      - id: bandit
        stages: [pre-commit]
        args: [-ll]
  - repo: local
    hooks:
      - id: test
        name: test
        entry: make test
        language: system
        always_run: true
        pass_filenames: false
        stages: [pre-commit]
      - id: check-types
        name: check types
        entry: make check_types
        language: system
        always_run: true
        pass_filenames: false
        stages: [pre-commit]
