:8080

@authEnabled expression `{env.ENABLE_BASIC_AUTH} == "true"`

basicauth @authEnabled {
    {$BASIC_AUTH_USER} {$BASIC_AUTH_PASSWORD_HASH}
}

encode zstd gzip

log {
	output stdout
	format console
}

@next path /_next/*

handle @next {
	root * /srv/assets
	header Cache-Control "public, max-age=31536000, immutable"
	file_server browse
}

@asset file {
	root /srv/assets
}

handle @asset {
	root * /srv/assets
	header Cache-Control "public, max-age=604800"
	file_server browse
}

handle {
	root * /srv/pages
	try_files {path} {path}/index.html {path}.html
	@html path *.html
	header @html Cache-Control "no-cache"
	file_server browse
}
